name: Repro 1

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-22.04-arm
    steps:
      - run: |
          pwd
      - run: |
          printenv | sort
      - run: |
            ls -la $HOME/actions-runner/extracted
